.header{
    background: #000;
    color: white !important;
}

.profile-pic{
    margin-right: 54px; 
    border-radius: 20px;
}

li{
     margin-left: 10px;
    margin-right: 10px; 
}
.c-white{
    color:white;
    font-weight: bold;
}

li.a{
    color: white !important;
}
ul li:hover > a{
    background:#21618C ;
    border-radius: 20px;
    font-weight: bold;
    color: white ;
    cursor: pointer;
}
.c-white:hover{
    background:#21618C ;
    border-radius: 20px;
    font-weight: bold;
    color: white ;
    cursor: pointer;
}


    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #21618C;
        color: white;
        font-weight: bold;
     }
img:hover{
   cursor: pointer; 
}
.profile{
    margin-left: 17.6rem;
}